h1{
    font-family: cursive;
    font-size: 60px;

}
body{

background-image: url('./images/9.jpg');
background-size:100%;
color: #fff;
text-align: center
}
li {
    display: inline;
    padding: 10px;
}
ul {
}
p {
    font-family: monospace;
    font-size: 20px;
}
img {
    border-radius: 50%;
}

#skill{
    color: #63AACD;
}

a {
    color:  #CC00CC ;
    font-family: Comic Sans Ms;

}
a:hover {
    color: #ff3;

}
